<!DOCTYPE html>
<html>
<head>
    <!-- links do bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>Users</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyScripts</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li><a href="../home">Home</a></li>
                    <li><a href="../users">Users</a></li>
                    <li><a href="..groups">Groups</a></li>
                    <li><a href="../scripts">Scripts</a></li>
                    <li class="active"><a href="../files">Files</a></li>
                    <li><a href="../packs">Packs</a></li>
                </ul>
                <form action="" class="navbar-form navbar-left" id="search">
                    <div class="input-group">
                        <input class="form-control" id="query" name="query" placeholder="Search" type="text"/>
                        <span class="input-group-btn">
            <input class="btn btn-default" name="commit" type="submit" value="Go"/>
            </span>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="">Log in</a>
                </li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" id="pasteTree">
    </div>
    <h1>Files</h1>
    <div class="col-md-3 filter">

    </div>
    <div class="col-md-9 pages">
        <div class="pagination">

        </div>
        <div class="searchBox">
            <p>Showing XXX results. Use the filters on the left and the search box below to refine the results</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
            </div>
        </div>
        <div class="rowContent">
            <div class="fileContent">
                {%for file in files%}
                <div class="row userItem">
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Uploader</p>
                            <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                            <p>{{file.Uploader}}</p>
                        </div>
                        <div class="col-xs-8 userContent">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"><p>{{file.title}}</p></span>
                            <p><strong>Created:</strong> {{file.createdOn}} | <strong>Last updated:</strong>{{file.Description}}
                            </p>

                            <p><strong>Credits:</strong>{{file.Uploader}}</p>
                            <p><strong>License:</strong>{{file.License}}</p>

                        </div>
                        <div class="col-xs-2 sidemenu">
                      <span class="glyphicon glyphicon-search" aria-hidden="true">
                        <a href="#">View</a>
                      </span>
                            <span class="glyphicon glyphicon-send" aria-hidden="true">
                        <a href="">Mensage</a>
                      </span>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-10">
                  <textarea class="form-group">
                    {{file.Description}}
                  </textarea>
                        <p><strong>File type:</strong>{{file.Type}}</p>
                        <p><a href="#">{{file.Comments|length }}</a> | <strong>Viewed:</strong> {{file.Views}} times |
                            <strong>Downloaded:</strong>{{file.Downloads}}</p>
                        <a href="#">Tags:</a>
                        <p>{%for tag in file.Tags %}
                            <a href="#">tag.name </a>
                            |
                            {%endfor%}
                        </p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                FUNDED BY: ...
                <br/><br/>
                AFFILIATES: ...
            </div>
            <div class="col-md-4 text-center">
                ABOUT: ...
            </div>
            <div class="col-md-4 text-right">
                blabla: ...
            </div>
        </div>
    </div>

</div>
</body>
</html>