{% extends "template.html" %}

{% block navigation %}groups{% endblock %}

{% block content %}
<div class="row" id="pasteTree">
</div>
<div class="row buttonlist">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <button type="button" class="btn btn-secondary">Create New Group</button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-secondary">View All Groups</button>
    </div>
</div>
<div class="col-md-12 contentBox">
    <p>Top 50 tags for Groups [<a href="">See All Tags</a>]</p>
</div>
<!-- TABELA DE TAGS TODO: -->
<div class="TagGroups">

</div>
<div class="col-md-12 contentBox">
    <p>What is a Groups?</p>
</div>
<p>
    Groups are designed to allow people who are collaborating to share and manage data. A user can set up a group
    for which they become the administrator and they can invite other users to join. Other users can also request to
    join the group. Groups may be set up for people who: work on the same projects, are in the same real world
    groups, work at the same institutions or just share the same research interests.
</p>

<!-- DIV MAIS IMPORTANTE, DIV DAS TABS -->
<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#MostRecent">Most Recent</a></li>
        <li><a data-toggle="tab" href="#MostMenbers">Most Members</a></li>
        <li><a data-toggle="tab" href="#MostShared">Most Shared Items</a></li>
        <li><a data-toggle="tab" href="#MostCredited">Most Credited</a></li>
    </ul>
    <div class="tab-content">
        <div id="MostRecent" class="tab-pane fade in active">
            <div id="listMostRecents">
                {%for g in groupsMR%}
                <div class="row rowContent">
                    <div class="col-md-1 contentBox">
                        <p>Owner</p>
                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{g.Owner}}</p>
                    </div>
                    <div class="col-md-10">
                        <div class="row ">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-education"aria-hidden="true">
                                    <p>{{g.UniqueName}}</p>
                                </span>
                                <p>Created: {{g.CreatedAt}}</p>
                            </div>
                            <div class="col-md-2 contentBox">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                  <a href="#">View</a>
                                </span>
                            </div>
                        </div>


                        <div>
                            <div class="groupDescpt contentBox">
                                <p>{{g.Description}}</p>
                            </div>
                            <p><strong>{{g.SharedItems|length}} Shared item(s) | {{g.Announcements}}
                                announcements</strong></p>
                            <div class="members contentBox">
                                <p><strong>Members(s):{{g.Members|length}}</strong></p>
                                {%for m in g.Members%}
                                <P>{{m.Name}}</P>
                                {%endfor%}
                            </div>
                            <div class="Tags">
                                <a href="">Tags:</a>
                                {%for t in g.Tags%}
                                <p>{{t.Name}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div id="MostMenbers" class="tab-pane fade">
            <div id="listMostMembers">
                {%for g in groupsMM%}
                 <div class="row rowContent">
                    <div class="col-md-1 contentBox">
                        <p>Owner</p>
                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{g.Owner}}</p>
                    </div>
                    <div class="col-md-10">
                        <div class="row ">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-education"aria-hidden="true">
                                    <p>{{g.UniqueName}}</p>
                                </span>
                                <p>Created: {{g.CreatedAt}}</p>
                            </div>
                            <div class="col-md-2 contentBox">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                  <a href="#">View</a>
                                </span>
                            </div>
                        </div>


                        <div>
                            <div class="groupDescpt contentBox">
                                <p>{{g.Description}}</p>
                            </div>
                            <p><strong>{{g.SharedItems|length}} Shared item(s) | {{g.Announcements}}
                                announcements</strong></p>
                            <div class="members contentBox">
                                <p><strong>Members(s):{{g.Members|length}}</strong></p>
                                {%for m in g.Members%}
                                <P>{{m.Name}}</P>
                                {%endfor%}
                            </div>
                            <div class="Tags">
                                <a href="">Tags:</a>
                                {%for t in g.Tags%}
                                <p>{{t.Name}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div id="MostShared" class="tab-pane fade">
            <div id="listHighRated">
                {%for g in groupsMS%}
               <div class="row rowContent">
                    <div class="col-md-1 contentBox">
                        <p>Owner</p>
                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{g.Owner}}</p>
                    </div>
                    <div class="col-md-10">
                        <div class="row ">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-education"aria-hidden="true">
                                    <p>{{g.UniqueName}}</p>
                                </span>
                                <p>Created: {{g.CreatedAt}}</p>
                            </div>
                            <div class="col-md-2 contentBox">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                  <a href="#">View</a>
                                </span>
                            </div>
                        </div>


                        <div>
                            <div class="groupDescpt contentBox">
                                <p>{{g.Description}}</p>
                            </div>
                            <p><strong>{{g.SharedItems|length}} Shared item(s) | {{g.Announcements}}
                                announcements</strong></p>
                            <div class="members contentBox">
                                <p><strong>Members(s):{{g.Members|length}}</strong></p>
                                {%for m in g.Members%}
                                <P>{{m.Name}}</P>
                                {%endfor%}
                            </div>
                            <div class="Tags">
                                <a href="">Tags:</a>
                                {%for t in g.Tags%}
                                <p>{{t.Name}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div id="MostCredited" class="tab-pane fade">
            <div id="listMostCredited">
                {%for g in groupsMC%}
                <div class="row rowContent">
                    <div class="col-md-1 contentBox">
                        <p>Owner</p>
                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{g.Owner}}</p>
                    </div>
                    <div class="col-md-10">
                        <div class="row ">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-education"aria-hidden="true">
                                    <p>{{g.UniqueName}}</p>
                                </span>
                                <p>Created: {{g.CreatedAt}}</p>
                            </div>
                            <div class="col-md-2 contentBox">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                  <a href="#">View</a>
                                </span>
                            </div>
                        </div>


                        <div>
                            <div class="groupDescpt contentBox">
                                <p>{{g.Description}}</p>
                            </div>
                            <p><strong>{{g.SharedItems|length}} Shared item(s) | {{g.Announcements}}
                                announcements</strong></p>
                            <div class="members contentBox">
                                <p><strong>Members(s):{{g.Members|length}}</strong></p>
                                {%for m in g.Members%}
                                <P>{{m.Name}}</P>
                                {%endfor%}
                            </div>
                            <div class="Tags">
                                <a href="">Tags:</a>
                                {%for t in g.Tags%}
                                <p>{{t.Name}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

    </div>

</div>
{% endblock %}