{% extends "template.html" %}

{% block navigation %}users{% endblock %}

{% block content %}
<div class="row" id="pasteTree">
</div>

<div class="row" style="text-align:center;" >

        <button>Request Membership</button>
        <button>View Group Content</button>

</div>
<h4 style="margin-top:25px; text-align:center;"><b>Group: {{group.UniqueName}}</b></h4>

<div style="text-align:center;">
    <p>|Members({{group.Members|length}})|News|Shared Items|Credited by({{group.CreditedBy|length}})|Tags({{group.Tags|length}})|</p>
</div>
<div class="row">
    <div class="col-sm-9 userDetails" id="groupDetails">
        <div class="groupSelection">
            <p>{{group.Description}}</p>
        </div>
        <p>Members: {{group.Members|length}} </p>
        <p><b>Created at:</b>{{group.CreatedAt}}</p>
        <p><b>News:</b> {{group.News}}</p>
    </div>
    <div class="col-sm-3">
        <div class="userInfo Sublabel sublabelDetails" style="text-align:center">
            <p>Owner</p>
            <image src="#"></image>
            <p>{{group.Owner}}</p>
        </div>
        <div class="Sublabel sublabelDetails" style="text-align:center">
            <p>{{group.Members|length}} Members</p>
            <p>{{group.SharedItems}} Shared items</p>
        </div>

    </div>
</div>


{% endblock %}