{% extends "template.html" %}

{% block navigation %}groups{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'groups/style.css' %}" />



<div class="row" id="pasteTree">
</div>
<h4 align="center">New Group</h4>
<form action=""></form>

    <div >
        <h4>Owner</h4>
    </div>
    <div id="imagediv">
         <img src="" alt="User Image" height="42" width="42">
         <p>TODO: USERNAME</p>
    </div>


<h5><b>Title:</b></h5>
<input type="text">

<div id="policy" class="content">
    <h4>New Membership Policy</h4>
    <p>You can specify a policy on how new members can join this group. </p>
    <select id="network_new_member_policy" name="network[new_member_policy]" style="visibility: visible;">
        <option value="open" selected="selected">Open to anyone</option>
        <option value="by_request">Membership by request</option>
        <option value="invitation_only">Invitation only</option>
    </select>
</div>



<div class="form-group">
  <h5><b>Description:</b></h5>
  <textarea class="form-control" rows="5" id="textDescription"></textarea>
</div>

<div id="accordion" role="tablist" aria-multiselectable="true">
     <div class="card" id="tags">

                <div class="card-header cardheader" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Tags
                     </a>
                </div>


                <div id="collapseOne" class="collapse cardbody" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        <div class="TagSublabel">
                            <p>Here you can add tags to describe this File.</p>
                        </div>
                        <h5><b>Tags:</b></h5>
                        <div class="tagbody">
                            <div CLASS="content" id="tagContent">
                                <p>Build up the list of tags below by adding from the two different boxes further below</p>
                                <div id="tagList"><p>None</p></div>
                            </div>
                            <div id="tagSelector" class="content">
                                <p>Add one or more tags manually (separated by commas; click on 'Add' to add to the list):</p>
                                <input type="text">
                                <button>Add</button>
                            </div>
                            </div>
                    </div>
                </div>

        </div>
</div>



<p style="text-align: center;">
    <input id="submit" name="commit"  value="Create" type="submit">
  </p>

{% endblock %}