{% extends "template.html" %}

{% block navigation %}packs{% endblock %}

{% block content %}
<div class="row" id="pasteTree">
</div>
<h1>Packs</h1>
<div class="col-md-3 filter">

</div>
<div class="col-md-9 pages">
    <div class="pagination">

    </div>
    <div class="searchBox">
        <p>Showing XXX results. Use the filters on the left and the search box below to refine the results</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
    </div>
    <div class="rowContent">
        <div class="fileContent">
            {%for p in packs%}
            <div class="row userItem">
                <div class="row">
                    <div class="col-xs-2">
                        <p>Creator</p>
                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{p.Uploader}}</p>
                    </div>
                    <div class="col-xs-8 userContent">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"><p>{{p.Title}}</p></span>
                        <p><strong>Created:</strong> {{p.CreatedOn}} | <strong>Last updated:</strong>{{p.LastEdited}}
                        </p>
                    </div>
                    <div class="col-xs-2 sidemenu">
                      <span class="glyphicon glyphicon-search" aria-hidden="true">
                        <a href="#">View</a>
                      </span>
                        <span class="glyphicon glyphicon-send" aria-hidden="true">
                        <a href="">Download</a>
                      </span>
                    </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                  <textarea class="form-group">
                    {{p.Description}}
                  </textarea>
                    <p><strong>{{p.Items|length}} items in this pack</strong></p>
                    <p><a href="#">Comments: {{p.Comments|length }}</a> | <strong>Viewed:</strong> {{p.Views}} times
                        | <strong>Downloaded:</strong>{{p.Downloads}}</p>
                    <a href="#">Tags:</a>
                    <p>{%for tag in file.Tags %}
                        <a href="#">{{tag.Name }}</a>
                        |
                        {%endfor%}
                    </p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}