{% extends "template.html" %}

{% block navigation %}scripts{% endblock %}

{% block content %}
<div class="row" id="pasteTree">
</div>
<h1>Scripts</h1>
<div class="col-md-3 filter">

</div>
<div class="col-md-9 pages">
    <div class="pagination">

    </div>
    <div class="searchBox">
        <p>Showing XXX results. Use the filters on the left and the search box below to refine the results</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
    </div>

    <div class="rows">
        <div class="fileContent">
            {%for s in scripts%}
            <div class="row rowContent">

                <div class="col-xs-2 contentBox">
                    <p>{{s.PyVersion}}</p>
                    <p>Uploader</p>
                    <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                    <p>{{s.Uploader}}</p>
                </div>
                <div class="col-xs-8 contentBox">
                    <div class="row">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"><p>{{s.Title}}</p></span>
                        <button type="button" class="btn btn-info">Download</button>
                    </div>
                    <div class="scriptDescription">
                        {{s.Description}}
                    </div>
                    <p><strong>Created:</strong> {{s.createdOn}} | <strong>Last updated:</strong>{{s.lastEdited}}
                    </p>
                    <p><strong>Credits:</strong>
                        {%for c in s.Credits%}
                        {{c.Name}}
                        {% endfor%}
                    </p>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>
</div>
{% endblock %}
