{% extends "template.html" %}

{% block navigation %}users{% endblock %}

{% block content %}
<div class="row" id="pasteTree">
</div>
<div id="usersContainer">
    <ul>
        <li>Invite</li>
        <li>View All Users</li>
        <li>View TimeLine</li>
    </ul>
</div>

<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#MostFriends">Most Friends</a></li>
        <li><a data-toggle="tab" href="#MostCredited">Most Credited</a></li>
        <li class="dropdown">
            <a data-toggle="tab" href="#HighRated">Highest Rated</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="MostFriends" class="tab-pane fade in active">
            <div id="listMostFriends">
                {%for user in friend%}
                <div class="row rowContent">
                    <div class="col-sm-1 contentBox">
                        <p>Member</p>

                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{user.name}}</p>
                    </div>
                    <div class="col-sm-8  contentBox">
                            <span class="glyphicon glyphicon-education"
                                  aria-hidden="true"><p>name: {{user.Name}}</p></span>
                        <p>Joined: {{user.JoinDate}}</p>
                        <p>Description: {{user.Description}}</p>
                        <p>Last active: {{user.LastSeen}}</p>
                        <p>WebSite: {{user.Website}}</p>
                        <p>Field/Industry: {{user.Fieldindustry}}</p>
                    </div>
                    <div class="col-sm-2 contentBox">
                  <span class="glyphicon glyphicon-search" aria-hidden="true">

                    <a href="../users/">View</a>
                  </span>
                        <span class="glyphicon glyphicon-send" aria-hidden="true">
                    <a href="">Mensage</a>
                  </span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <div id="MostCredited" class="tab-pane fade">
            <div id="listMostCredited">
                {%for user in credited%}
                <div class="row rowContent">
                    <div class="col-xs-1 contentBox">
                        <p>Member</p>
                        <image src="../../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{user.name}}</p>
                    </div>
                    <div class="col-xs-8 userContent contentBox">
                            <span class="glyphicon glyphicon-education"
                                  aria-hidden="true"><p>name: {{user.name}}</p></span>
                        <p>Joined: {{user.JoinDate}}</p>
                        <p>Description: {{user.Description}}</p>
                        <p>Last active: {{user.LastSeen}}</p>
                        <p>WebSite: {{user.website}}</p>
                        <p>Field/Industry: {{user.Fieldindustry}}</p>
                    </div>
                    <div class="col-xs-2 sidemenu contentBox">
                  <span class="glyphicon glyphicon-search" aria-hidden="true">
                    <a href="#">View</a>
                  </span>
                        <span class="glyphicon glyphicon-send" aria-hidden="true">
                    <a href="">Mensage</a>
                  </span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <div id="HighRated" class="tab-pane fade">
            <div id="listHighRated">
                {%for user in rated %}
                <div class="row rowContent">
                    <div class="col-xs-1 contentBox">
                        <p>Member</p>
                        <image src="../images/avatar.png" style="width:50px;height:50px"></image>
                        <p>{{user.name}}</p>
                    </div>
                    <div class="col-xs-8 contentBox">
                            <span class="glyphicon glyphicon-education"
                                  aria-hidden="true"><p>name: {{user.name}}</p></span>
                        <p>Joined: {{user.JoinDate}}</p>
                        <p>Description: {{user.Description}}</p>
                        <p>Last active: {{user.LastSeen}}</p>
                        <p>WebSite: {{user.website}}</p>
                        <p>Field/Industry: {{user.Fieldindustry}}</p>
                    </div>
                    <div class="col-xs-2 contentBox">
                  <span class="glyphicon glyphicon-search" aria-hidden="true">
                    <a href="#">View</a>
                  </span>
                        <span class="glyphicon glyphicon-send" aria-hidden="true">
                    <a href="">Mensage</a>
                  </span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

    </div>

</div>
{% endblock %}