<!DOCTYPE html>
<html>
<head>
<!-- links do bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>Users</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="col-md-2">
  </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyScripts</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="../home">Home</a></li>
      <li><a href="../users">Users</a></li>
      <li><a href="../groups">Groups</a></li>
      <li><a href="../scripts">Scripts</a></li>
      <li class="active"><a href="../files">Files</a></li>
      <li><a href="../packs">Packs</a></li>
    </ul>
  </div>
</nav>
<div class="container">
	<div class="row" id ="pasteTree">
  	</div>
  	<div id ="usersContainer">
  		<ul>
  			<li>Invite</li>
  			<li>View All Users</li>
  			<li>View TimeLine</li>
  		</ul>
  	</div>
</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-left">
        FUNDED BY: ...
        <br/><br/>
        AFFILIATES: ...
      </div>
      <div class ="col-md-4 text-center">
        ABOUT: ...
      </div>
      <div class="col-md-4 text-right">
        blabla: ...
      </div>
    </div>
  </div>
  
</div>
</body>
</html>